
#status {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    z-index: 100;
    top: 50%;
    background-image: url('Loading (2).gif');
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
    z-index: 1001
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 1000
}

