﻿@model QLK.Website.Model.Category

@{
    ViewBag.Title = "Tạo mới loại hàng";

}
<div class="row">
<!-- left column -->
<div class="col-md-12">
    <!-- general form elements -->
    <!-- Form Element sizes -->
    <div class="box box-success">
        <div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryName, " Tên loại hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">

                            @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, " Mổ tả", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class=" text-center col-md-6">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                        <div class="btn btn-danger">
                            @Html.ActionLink("Trở về", "Index")

                        </div>
                    </div>
                </div>
            }
        </div>
     </div>
</div>
</div>
