﻿@model QLK.Website.Model.Category

@{
    Layout = null;
}
<div>
    <form id="myForm">
        @Html.HiddenFor(m => m.CategoryID)
        <div class="form-group">
            <label>Tên loại mặt hàng</label>
            @Html.TextBoxFor(model => model.CategoryName, new { @class = "form-control", @placeholder = "Name" })
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Address" })
        </div>
        <div class="text-right">
            <a href="#" id="btnSubmit" class="btn btn-primary">Lưu</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            /*$("#loaderDiv").show();*/
            var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/Category/Edit",
                data: myformdata,
                success: function (data) {
                    if (data == true) {
                        //$("#loaderDiv").hide();
                        //$("#myModal").modal("hide");
                        window.location.href = "/Danh-sach-loai-san-pham";
                    }
                    else {
                        alert("Lỗi! không thể chỉnh sửa loại mặt hàng này!");
                    }

                }

            })
        })
    })
</script>
