﻿@using PagedList.Mvc;
@model PagedList.IPagedList<QLK.Website.Model.Category>

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @*<a href="#" class="btn btn-success" data-toggle="modal" data-target="#categoryForm"> <i class="fa fa-plus"></i> Thêm mới</a>*@
                            @*<a href="@Url.Action("Create")" class="btn btn-success"> <i class="fa fa-plus"></i> Thêm mới</a>*@
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#categoryForm"> <i class="fa fa-plus"></i>Thêm mới</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            @using (Html.BeginForm("Index", "Category", FormMethod.Get))
                            {
                                @Html.TextBox("SearchString", ViewBag.currentFilter as string)
                                <input type="submit" value="search" class="btn btn-warning" />
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">
                                            Tên loại hàng
                                            @*@Html.DisplayNameFor(model => model.CategoryName)*@
                                        </th>
                                        <th style="text-align: center">
                                            Mô tả
                                            @*@Html.DisplayNameFor(model => model.Description)*@
                                        </th>
                                        <th style="text-align: center">
                                            Tác vụ
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>

                                                @item.CategoryName
                                            </td>
                                            <td>
                                                @item.Description
                                            </td>
                                            <td align="center">
                                                @*<a class="btn btn-success" onclick="Update(@item.CategoryID)" data-id="@item.CategoryID"><i class="fa fa-pencil"></i></a>*@
                                                @*<a href="@Url.Action("Edit", new { id = item.CategoryID })" class="btn btn-success"><i class="fa fa-pencil"></i></a>*@
                                                <a href="#" class="btn btn-success" onclick="Editcategory(@item.CategoryID)"><i class="fa fa-pencil"></i> </a>
                                                @*@Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })*@
                                                <a href="#" class="btn btn-danger" id="showModal" onclick="confirm(@item.CategoryID)"><i class="fa fa-trash"></i></a>
                                                @*<a onclick="return confirm('Bạn muôn xóa không??')" class="btn btn-danger" href="@Url.Action("Delete", new { id = item.CategoryID })"><i class="fa fa-trash"></i></a>*@

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>


<div id="category_area">
    @{ Html.RenderAction("getpaging", "test", new { page = 1 });}
</div>