﻿@model QLK.Website.Model.Supplier

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Tạo mới nhà cung cấp</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.SupplierName,"Tên nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.SupplierName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ContactName,"Liên hệ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.ContactName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ContactName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Adderss,"Địa chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.Adderss, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Adderss, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.City, "Thành phố", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Zipcode, "Mã bưu điện",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Country," Quốc gia ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone,"Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
    <div class=" text-center col-md-6">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
    <div class="">
        @Html.ActionLink("Trở về", "Index")

    </div>
    </div>
    
</div>
}
    
