﻿@model QLK.Website.Model.Supplier

@{
    Layout = null;
}
<div>
    <form id="myForm">
        @Html.HiddenFor(model => model.SupplierID)
        <div class="form-group">
            <label>Tên nhà cung cấp</label>
            @Html.TextBoxFor(model => model.SupplierName, new { @class = "form-control", @placeholder = "" })
        </div>

        <div class="form-group">
            <label>Tên Liên lạc</label>
            @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control", @placeholder = "" })
        </div>

        <div class="form-group">
            <label>Địa chỉ</label>
            @Html.TextBoxFor(model => model.Adderss, new { @class = "form-control", @placeholder = "Name" })
        </div>

        <div class="form-group">
            <label>Thành phố</label>
            @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Address" })
        </div>

        <div class="form-group">
            <label>Mã bưu điện</label>
            @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control", @placeholder = "" })
        </div>

        <div class="form-group">
            <label>Quốc gia</label>
            @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @placeholder = "" })
        </div>

        <div class="form-group">
            <label>Số điện thoại</label>
            @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @placeholder = "" })

        </div>
        <div class="form-group">
            <label>Ghi chú</label>
            @Html.TextBoxFor(model => model.Note, new { @class = "form-control", @placeholder = "" })

        </div>

        <div class="text-right">
            <a href="#" id="btnSubmit" class="btn btn-primary">Lưu</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Trở về</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {

            var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/Supplier/Edit",
                data: myformdata,
                success: function (data) {
                    if (data == true) {

                        window.location.href = "/Danh-sach-nha-cung-cap";
                    }
                    else {
                        alert("Lỗi! không thể chỉnh sửa mặt hàng này!");
                    }

                }

            })
        })
    })
</script>
