﻿@model QLK.Website.Model.Product

@{
    ViewBag.Title = "Chỉnh sửa mặt hàng";


}<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-primary">
            <div class=" with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ProductID)

                    <div class="form-horizontal">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @*@Html.LabelFor(model => model.Photo, "Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10 has-success">
                                @Html.EditorFor(model => model.Photo, new { htmlAttributes = new { @class = "form-control" , hidden = "hidden" } })
                                @*@Html.ValidationMessageFor(model => model.Photo, "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductName, "Tên mặt hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 has-success">
                                @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.ProductID, "Tên mặt hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 has-success">
                            @Html.DropDownList("ProductID", new SelectList(ViewBag.pro, "ProductID", "ProductName"))
                             Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
                        </div>*@
                    <div class="form-group">
                        @Html.LabelFor(model => model.CategoryID, "Tên loại hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @Html.DropDownList("CategoryID", new SelectList(ViewBag.cate, "CategoryID", "CategoryName"), new { @class = "form-control", required = "required" })
                            @*@Html.EditorFor(model => model.CategoryID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category.CategoryName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.SupplierID, "Tên nhà cung cấp", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @*@Html.EditorFor(model => model.SupplierID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownList("SupplierID", new SelectList(ViewBag.sup, "SupplierID", "SupplierName"), new { @class = "form-control", required = "required" })
                            @*@Html.ValidationMessageFor(model => model.Supplier.SupplierName, "", new { @class = "text-danger" })*@
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit, "Đớn vị tính", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row">
                        <div class=" text-center col-md-6">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="btn btn-danger">
                            @Html.ActionLink("Trở về", "Index")

                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>



