﻿@model QLK.Website.Model.Product

@{
    Layout = null;
}
<style>
    .remove-phto {
        color: red;
        font-size: 50%;
    }
</style>
<div>

    @using (Html.BeginForm("Edit", "Product", FormMethod.Post,
                                         new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.ProductID, new { @id = "ProductID1" })
        @*@Html.TextBoxFor(model => model.Photo, new { @class = "form-control", hidden = "hidden" })*@
        <div class="row">
            <div class="col-lg-4">
                <label>Ảnh</label>
            </div>
            <div class="col-lg-8">

                @foreach (var ite in ViewBag.UploadphotoProduct)
                {

                    if (ite.IDProduct == Model.ProductID)
                    {
                        <img src="@Url.Content(ite.Path)" style="height:50px;width:50px">
                    }

                }
               
                @*<img src="@Url.Content(@Model.Photo)" style="height:100px;width:100px">*@
            </div>
        </div>
        <br />
        <input type="file" name="file1" id="file1" multiple accept="image/*" style="width:100%;" />
        <div class="form-group">
            <label>Tên mặt hàng</label>
            @Html.TextBoxFor(model => model.ProductName, new { @class = "form-control", @placeholder = "", id = "ProductName1" })
            @*<input type="text" class="form-control" value="@Model.ProductName" id="ProductName1" name="ProductName1"/>*@
        </div>

        <div class="form-group">
            <label>Tên loại mặt hàng</label>
            @*@Html.TextBoxFor(model => model.Category.CategoryName, new { @class = "form-control", @placeholder = "Name" })*@
            @Html.DropDownList("CategoryID", new SelectList(ViewBag.cate, "CategoryID", "CategoryName"), new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            <label>Tên nhà cung cấp</label>
            @*@Html.TextBoxFor(model => model.Supplier.SupplierName, new { @class = "form-control", @placeholder = "Address" })*@
            @Html.DropDownList("SupplierID", new SelectList(ViewBag.sup, "SupplierID", "SupplierName"), new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            <label>Đơn vị tính</label>
            @Html.TextBoxFor(model => model.Unit, new { @class = "form-control", id = "Unit1" })
            @*<input type="text" name="Unit" id="Unit" class="form-control" required />*@

        </div>
        <div class="form-group">
            <label>Đơn giá</label>
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number", id = "Price1" })
            @*<input type="text" name="Unit" id="Unit" class="form-control" required />*@

        </div>

        <div class="text-right">
            <a href="#" id="btnSubmit" class="btn btn-primary">Lưu</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
        </div>
    }

</div>



<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var fd = new FormData();
            $.each($("input[name='file1']")[0].files, function (i, file1) {
                fd.append('file1', file1);
            });
            fd.append('ProductID', $('#ProductID1').val());
            fd.append('ProductName', $('#ProductName1').val());
            fd.append('CategoryID', $('#CategoryID').val());
            fd.append('SupplierID', $('#SupplierID').val());
            fd.append('Price', $('#Price1').val());
            fd.append('Unit', $('#Unit1').val());

         var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url:'@Url.Action("Edit")',

                data: fd,
                //data: fd,
                processData: false,
                contentType: false,
                success: function (_data) {
                    //alert(_data.status);
                    //return;
                    if (_data == true) {
                        window.location.href = "/Danh-sach-san-pham";
                    }
                    else {
                       alert("Lỗi!! không thể thêm mặt hàng này !");
                    }
                    
                }
              

            })
        })

       
    })
</script>
