﻿@model  IEnumerable<QLK.Website.Model.Detailimportcoupon>
@{
    Layout = null;
}

<div class="box box-primary">
    <form id="myForm">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Mã chi tiết phiếu nhập
                    </th>
                    <th>
                        Tên mặt hàng
                    </th>
                    <th>
                        Ngày nhập
                    </th>
                    <th>
                        Đơn vị tính
                    </th>
                    <th>
                        Đơn giá
                    </th>

                    <th>
                        số lượng
                    </th>
                   
                </tr>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.DetailimportID

                    </td>

                    <td>
                        @item.Product.ProductName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Importcoupon.Date)
                    </td>
                    <td>
                        @item.Unit
                    </td>
                    <td>
                        @item.Price

                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    
                </tr>
                }
            </tbody>
        </table>

        <div>
            <p> Tổng : @ViewBag.tong</p>
        </div>


    </form>
</div>
