﻿
@model  IEnumerable<QLK.Website.Model.DetailBill>
@{
    Layout = null;
}

<div class="box box-primary">
    <form id="myForm">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Mã chi tiết phiếu xuất
                    </th>
                    <th>
                        Tên mặt hàng
                    </th>
                    <th>
                        Ngày xuất
                    </th>
                    <th>
                        Đơn vị tính
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        số lượng
                    </th>

                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @item.DetailBillID

                    </td>

                    <td>
                        @item.Product.ProductName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bill.Date)

                    </td>
                    <td>
                        @item.Unit
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @item.Quantity

                    </td>

                </tr>
                }

              
            </tbody>
        </table>

        <div>
            <p> Tổng : @ViewBag.tong</p>
        </div>
      
    </form>
</div>
