﻿@model QLK.Website.Model.Warehouse

@{
    ViewBag.Title = "Create";
}
<h2 class="text-center">Tạo mới kho</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.WarehouseName, "Tên kho",htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.WarehouseName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WarehouseName, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(model => model.WarehouseName)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Soluong,"Max", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soluong, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class=" text-center col-md-6">
            <input type="submit" value="Create" class="btn btn-primary " />
        </div>
        <div class="btn btn-danger">
            @Html.ActionLink("Trở về", "Index")

        </div>
    </div>
</div>
}
