﻿@*@model QLK.Website.Model.Warehouse*@
@using PagedList.Mvc;
@model PagedList.IPagedList<QLK.Website.Model.Warehouse>

@{
    ViewBag.Title = "Danh sách kho";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-8">
                        <p>
                            @*<a href="@Url.Action("Create")" class="btn btn-success">*@
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#wareModal"> <i class="fa fa-plus"></i>Thêm mới</a>
                        </p>
                    </div>
                    <div class="col-lg-4">

                    @using (Html.BeginForm("Index", "Warehouse", FormMethod.Get))
                    {

                        <div class="col-lg-6">
                            <input type="text" class="form-control" name="SearchString" id="SearchString" />
                        </div>
                        <div class="col-lg-3">
                            <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                        </div>
                    }
                </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>

                                        <th style="text-align: center">
                                            Tên kho
                                        </th>
                                        <th style="text-align: center">
                                            Số lượng
                                        </th>
                                        <th style="text-align: center">
                                            Tác vụ
                                        </th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.WarehouseName
                                        </td>
                                        <td>
                                            @item.Soluong
                                        </td>
                                        <td align="center">
                                            @*<a href="@Url.Action("Edit", new { id = item.WarehouseID })" class="btn btn-success"><i class="fa fa-pencil"></i></a>*@
                                            <a href="#" class="btn btn-success" onclick="EditWare(@item.WarehouseID)"><i class="fa fa-pencil"></i> </a>
                                            <a href="#" class="btn btn-danger" id="showModal" onclick="confirm(@item.WarehouseID)"><i class="fa fa-trash"></i></a>
                                            @*<a onclick="return confirm('Bạn muôn xóa không??')" class="btn btn-danger" href="@Url.Action("Delete", new { id = item.WarehouseID })"><i class="fa fa-trash"></i></a>*@
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="wareModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h1 class="modal-title text-center">Thêm nhà cung cấp</h1>
                </div>
                <div class="modal-body">
                    <!-- source code-->
                    <form id="wareform">
                        <div class="form-group">
                            <label>Tên Kho</label>
                            @*@Html.TextBoxFor(model => model.FirstOrDefault().WarehouseName, new { @class = "form-control", required = "required" })*@
                            <input type="text" name="WarehouseName" class="form-control" required />
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().WarehouseName, "", new { @class = "text-danger" })
                        </div>
                        <div class=" form-group">
                            <label>Số lượng</label>
                            @*@Html.TextBoxFor(model => model.FirstOrDefault().Soluong, new { @class = "form-control", required = "required" })*@
                            <input type="number" name="Soluong" class="form-control" required />
                            @Html.ValidationMessageFor(model => model.FirstOrDefault().Soluong, "", new { @class = "text-danger" })
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" id="btnSave" class="btn btn-primary">Lưu</a>
                    @*<a href="#" id="btnCancel" class="btn btn-danger">Canncel</a>*@
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editWarehouse">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title text-center">Chỉnh sửa kho</h3>
            </div>
            <div class="modal-body" id="myModalBodyDiv3">
            </div>

        </div>
    </div>
</div>


<div class="modal fade " id="deleteware">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Thông báo</h3>
            </div>
            <div class="modal-body">
                Bạn có thật sự muốn xóa nó không ??
            </div>
            <div class="modal-footer">
                <a href="#" id="btndeleteconfirm" class="btn btn-primary">Xóa</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="Warehouseid" />


<div class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>


<script>
    $(document).ready(function () {
        var error = "lỗi";
        $("#btnSave").click(function () {
            var supplierFormData = $("#wareform").serialize();
            $.ajax({
                type: "POST",
                url: "/Warehouse/Create",
                data: supplierFormData,
                success: function (data) {
                    if (data == true) {
                        alert("Thêm thành công!");
                        window.location.href = "/Danh-sach-kho";
                    }
                    else {
                        alert("Lỗi!! Không thể kho này!");
                    }
                },
            })
        })

        $("#btndeleteconfirm").click(function () {
            var _id = $("#Warehouseid").val();
            $.ajax({
                type: "POST",
                url: "/Warehouse/Delete",
                data: { id: _id },
                success: function (data) {
                    if (data == true) {
                        $("#deleteware").modal('hide');
                        $("#Warehouseid").val(null);

                        window.location.href = "/Danh-sach-kho";
                    }
                    else {
                        alert("Error!! kho này không được xóa!");
                    }
                }

            })
        })
    })
    var confirm = function (id) {
        $("#Warehouseid").val(id);
        $("#deleteware").modal('show');

    }

    var EditWare = function (id) {
        var url = "/Warehouse/Edit/" + id;
        $("#myModalBodyDiv3").load(url, function () {
            $("#editWarehouse").modal("show");

        })

    }
</script>

