﻿<div class="body-content"></div>

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.13
    </div>
    <strong>Copyright &copy; 2014-2019.</strong> All rights
    reserved.
</footer>