﻿<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        @*<div class="pull-left image">
                <img src="~Themes/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>*@
        <div class="pull-left info">
            @if (Session["UserName"] != null)
            {
                <p style="color:white">@Session["UserName"].ToString()</p>
                @*<p>@Session["FullName"].ToString();</p>*@
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            }

        </div>
    </div>

    <ul class="sidebar-menu" data-widget="tree">
        <li><a href="~/Trang-chu">Trang chủ</a></li>
        <li>
            <a href="~/Trang-chu"><i class="fa fa-dashboard"></i> Tổng quan</a>
        </li>
        @*<li>
            <a href="~/Product/Index"><i class="fa fa-circle-o"></i> Hàng hóa</a>
        </li>*@
        <li class="treeview">
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Hàng hóa</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Danh-sach-loai-san-pham"><i class="fa fa-circle-o"></i> Danh sách loại hàng</a></li>
                <li><a href="~/Danh-sach-san-pham"><i class="fa fa-circle-o"></i> Danh sách hàng hóa</a></li>

            </ul>
        </li>
        <li>
            <a href="~/Danh-sach-kho">
                <i class="fa fa-folder"></i>
                <span>Danh sách kho</span>

            </a>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-th"></i>
                <span>Nhập - Xuất</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Danh-sach-phieu-nhap"><i class="fa fa-circle-o"></i> Nhập</a></li>
                <li><a href="~/Danh-sach-phieu-xuat"><i class="fa fa-circle-o"></i> Xuất </a></li>
                <li><a href="~/Danh-sach-chi-tiet-phieu-nhap"><i class="fa fa-circle-o"></i>Chi tiết nhập hàng</a></li>
                <li><a href="~/Danh-sach-chi-tiet-phieu-xuat"><i class="fa fa-circle-o"></i>Chi tiết xuất hàng </a></li>

            </ul>
        </li>
        <li>
            <a href="~/Can-doi-kho">
                <i class="fa fa-edit"></i>
                <span>Cân đối kho</span>

            </a>
        </li>
        <li>
            <a href="~/Danh-sach-nha-cung-cap">
                <i class="fa fa-folder"></i>
                <span>Nhà cung cấp</span>
            </a>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-pie-chart"></i>
                <span>Báo cáo</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Bao-cao-kho"><i class="fa fa-circle-o"></i> Báo cáo</a></li>
                <li><a href="~/Bao-cao-nhap-kho"><i class="fa fa-circle-o"></i> Báo cáo nhập kho </a></li>
                <li><a href="~/Bao-cao-xuat-kho"><i class="fa fa-circle-o"></i> Báo cáo xuất kho</a></li>
            </ul>
        </li>

        <li>
            <a href="~/Lich-su-bien-dong">
                <i class="fa fa-pie-chart"></i>
                <span>Lịch sử biến động</span>
            </a>
        </li>

    </ul>
</section>