﻿@model QLK.Website.Model.DetailBill

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Thêm chi tiết phiếu xuất kho</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.BillID, "Mã đơn hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 has-success">
                    @*@Html.EditorFor(model => model.BillID, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("BillID", new SelectList(ViewBag.billid, "BillID", "BillName"))
                    @Html.ValidationMessageFor(model => model.BillID, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ProductID, "Mã mặt hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 has-success">

                    @*@Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })*@
                    @Html.DropDownList("ProductId", new SelectList(ViewBag.data, "ProductID", "ProductID"))
                    @*@Html.DropDownList(model = model.ProductID, ViewBag.ProductId as SelectList, "--select product--", new { @class="form-contrl"})*@
                    @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                </div>
            </div>
       
 
    <div class="form-group">
        @Html.LabelFor(model => model.Unit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" , type = "number" } })
            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class=" text-center col-md-6">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div class="btn btn-danger">
            @Html.ActionLink("Trở về", "Index")

        </div>
    </div>
</div>
}

