﻿@model QLK.Website.Model.DetailBill

@{
    ViewBag.Title = "Chỉnh sửa chi tiết phiếu xuất kho";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DetailBillID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.BillID, "Mã phiếu xuất", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @*@Html.EditorFor(model => model.BillID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.DropDownList("BillID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BillID, "", new { @class = "text-danger" })*@
                             @Html.DropDownList("BillID", new SelectList(ViewBag.bill, "BillID", "BillName"), new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductID, "Tên mặt hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @*@Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })*@
                            @Html.DropDownList("ProductID", new SelectList(ViewBag.pro, "ProductID", "ProductName"), new { @class = "form-control", required = "required" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit,"Đơn vị tính", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity," Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10 has-success">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class=" text-center col-md-6">
                            <input type="submit" value="Edit" class="btn btn-success" />
                        </div>
                        <div class="btn btn-danger">
                            @Html.ActionLink("Trở về", "Index")
                        </div>
                    </div>
                </div>
            }
            <br />
        </div>
    </div>
</div>