﻿@model QLK.Website.Model.DetailBill

@{
    Layout = null;
}
<div>
    <form id="myForm">
        @Html.HiddenFor(model => model.DetailBillID)

        <div class="form-group">
            <label>Mã phiếu xuất</label>
            @Html.DropDownList("BillID", new SelectList(ViewBag.bill, "BillID", "BillName"), new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            <label>Tên mặt hàng</label>
            @Html.DropDownList("ProductID", new SelectList(ViewBag.pro, "ProductID", "ProductName"), new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            <label>Đơn vị tính</label>
            @*<div class="row">
            <div class="col-lg-8">
                <input type="text" class="form-control" name="Unit" id="Unit"  />
            </div>
            <div class="col-lg-4">

            </div>
        </div>*@
            @*@Html.DropDownList("unit", new SelectList(ViewBag.unit, "Unit", "Unit"),htmlAttributes: new { @class = "form-control", required = "required" , value ="@Model.Unit"})*@
            @Html.TextBoxFor(model => model.Unit, new { @class = "form-control", @placeholder = "" })

        </div>

        <div class="form-group">
            <label>Số lượng</label>
            @Html.TextBoxFor(model => model.Quantity, new { @class = "form-control", @placeholder = "", type = "number" })
        </div>

        <div class="form-group">
            <label>Đơn giá</label>
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", @placeholder = "", type = "number" })
        </div>

        <div class="form-group">
            <label>Ghi chú</label>
            @Html.TextBoxFor(model => model.Note, new { @class = "form-control", @placeholder = "" })
        </div>


        <div class="text-right">
            <a href="#" id="btnSubmit" class="btn btn-primary" >Lưu</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal" >Trở lại</button>
        </div>
    </form>
</div>
<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            /*$("#loaderDiv").show();*/
            var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/DetailOutput/Edit",
                data: myformdata,
                success: function (data) {
                    if (data == true) {
                        //$("#loaderDiv").hide();
                        //$("#myModal").modal("hide");
                        window.location.href = "/Danh-sach-phieu-xuat";
                    }
                    else {
                        alert("Lỗi! không thể chỉnh sửa chi tiết phiếu xuất này!");
                    }

                }

            })
        })
    })
    //function run1() {
    //    var select = document.getElementById('unit');
    //    var option = select.options[select.selectedIndex];

    //    document.getElementById('Unit').value = option.value;

    //}
   
</script>
