﻿

@model QLK.Website.Model.SystemDatabase

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quản lý kho : Login</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Themes/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Themes/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Themes/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Themes/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    @*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>KHO</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Đổi mật khẩu</p>
            <p style="color:red" class="text-center"> @ViewBag.messenger</p>
            @*<p style="color:red" class="text-center"> @ViewBag.confirn</p>*@

            @using (Html.BeginForm("ChangePass", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
             <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
            <div class="form-group">
                <label>Nhập tên đăng nhập</label>
                <input type="text" name="Username" class="form-control" />
            </div>
            <div class="form-group">
                <label>Nhập mật khẩu</label>
                <input type="text" name="Password" class="form-control" />
            </div>
            <div class="form-group">
                <label>Mật khẩu mới</label>
                <input type="text" class="form-control" name="newPassword" />
            </div>
            <div class="form-group">
                <label>Nhập lại mật khẩu mới</label>
                <input type="text" class="form-control" name="newPasswordagain" />
            </div>
            <div class="form-group">
                <div class="text-center">
                    <input type="submit" name="submit" class="btn btn-primary" value="Đổi mật khẩu" />
                </div>
            </div>
        </div>
            }
            <a href="~/Dang-ky">Bạn chưa có tài khoản??</a> <a href="~/Dang-nhap"> Đăng nhập</a><br>
        </div>
       
    </div>
    <script src="~/Themes/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Themes/plugins/iCheck/icheck.min.js"></script>

</body>
</html>
