﻿@model QLK.Website.Model.Importcoupon

@{
    ViewBag.Title = "Create";
}
<h1 class="text-center">Tạo mới phiếu nhập kho</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

    <div class="form-group">
        @Html.LabelFor(model => model.WarehouseID, "Tên kho", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
            @Html.DropDownList("WarehouseID", new SelectList(ViewBag.WarehouseID, "WarehouseID", "WarehouseName"))
            @Html.ValidationMessageFor(model => model.WarehouseID, "", new { @class = "text-danger" })
        </div>
    </div>


<div class="row">
    <div class=" text-center col-md-6">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <div class="btn btn-danger">
        @Html.ActionLink("Trở về", "Index")

    </div>
</div>

</div>
    }
