﻿@model QLK.Website.Model.Importcoupon

@{
    Layout = null;
}
<div>
    <form id="myForm">
        @Html.HiddenFor(model => model.ImportID,new { @id="ImportID"})

        @Html.TextBoxFor(model => model.Date, new { @class = "form-control", hidden = "hidden" ,id= "Date" })

        @*@Html.TextBoxFor(model => model.Photo, new { @class = "form-control", hidden = "hidden" })*@
        <div class="row">
            <div class="form-group">
                <div class="col-lg-4">
                    <label>Ảnh</label>
                </div>
                <div class="col-lg-8">
                    @foreach (var ite in ViewBag.UploadphotoImport)
                    {
                        if (ite.ID == Model.ImportID)
                        {
                            <img src="@Url.Content(ite.Path)" style="height:50px;width:50px">
                        }
                    }
                </div>
            </div>
        </div>
        <br />
        <input type="file" name="file3" id="file3" multiple accept="image/*" style="width:100%;" />
        <div class="form-group">
            <label>Tên kho</label>
            @*@Html.TextBoxFor(model => model.Warehouse.WarehouseName, new { @class = "form-control", @placeholder = "" })*@
            @Html.DropDownList("WarehouseID", new SelectList(ViewBag.ware, "WarehouseID", "WarehouseName"), new { @class = "form-control", required = "required" })
        </div>

        <div class="form-group">
            <label>Tên phiếu nhập</label>
            @Html.TextBoxFor(model => model.ImportName, new { @class = "form-control", @placeholder = "" ,id= "ImportName1" })
        </div>

        <div class="text-right">
            <a href="#" id="btnSubmit" class="btn btn-primary">Lưu</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {

            var fd = new FormData();
            $.each($("input[name='file3']")[0].files, function (i, file) {
                fd.append('file', file);
            });
            fd.append('ImportID', $('#ImportID').val());
            fd.append('Date', $('#Date').val());
            fd.append('WarehouseID', $('#WarehouseID').val());
            fd.append('ImportName', $('#ImportName1').val());
            $.ajax({
                type: "POST",
                 url:'@Url.Action("Edit")',
                data: fd,
                processData: false,
                contentType: false,
                success: function (_data) {

                    if (_data == true) {
                        window.location.href = "/Danh-sach-phieu-nhap";
                    }
                    else {
                        alert("Lỗi! không thể chỉnh sửa phiếu nhập này!");
                    }

                }

            })



            //var myformdata = $("#myForm").serialize();
            //$.ajax({

            //    type: "POST",
            //    url: "/Input/Edit",
            //    data: myformdata,
            //    success: function (data) {
            //        if (data == true) {

            //            window.location.href = "/Danh-sach-phieu-nhap";
            //        }
            //        else {
            //            alert("Lỗi! không thể chỉnh sửa phiếu nhập này!");
            //        }

            //    }

            //})
        })
    })
</script>
