﻿.container1 {
    width: 70%;
    margin: 15px auto;
}

body1 {
    text-align: center;
    color: green;
}

h2 {
    text-align: center;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
}
