﻿@model QLK.Website.Model.Bill

@{
    ViewBag.Title = "Create";
}

<h2 class="text-center">Thêm mới phiếu xuất</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.BillID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BillID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BillID, "", new { @class = "text-danger" })
            </div>
    </div>*@

    <div class="form-group">
        @*@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>*@
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.WarehouseID, "Tên kho", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 has-success">
        @Html.DropDownList("WarehouseID", new SelectList(ViewBag.Warehouses, "WarehouseID", "WarehouseName"))
        @Html.ValidationMessageFor(model => model.WarehouseID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class=" text-center col-md-6">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
        <div class="btn btn-danger">
            @Html.ActionLink("Trở về", "Index")

        </div>
    </div>
</div>
}

