﻿@model QLK.Website.Model.Importcoupon

@{
    Layout = null;
    //ViewBag.Title = "Index";
}

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Xác nhận</h4>
            </div>
            <div class="modal-body">
                <h3>Bạn có chắc muốn xóa nhà cung cấp này?</h3>
                <div>
                    <hr />
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>ImportID</th>
                            <td>@Html.DisplayFor(model => model.ImportID)</td>
                        </tr>
                        <tr>
                            <th>WarehouseID</th>
                            <td>@Html.DisplayFor(model => model.WarehouseID)</td>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <td>@Html.DisplayFor(model => model.Date)</td>
                        </tr>
                    </table>
                </div>
            </div><!-- /.modal-body -->
            <div class="modal-footer">
                @using (Html.BeginForm("Delete", "Output", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color text-center">
                        <input type="submit" value="Xóa" class="btn btn-danger" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                }
            </div><!-- /.modal-footer -->
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
