﻿@model QLK.Website.Model.Bill

@{
    ViewBag.Title = "Chỉnh sửa hóa đơn xuất";
}


<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class=" with-border">@*box-header*@
                        <h3 class="box-title">@ViewBag.Title</h3>
                    </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.BillID)
        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BillID)

            <div class="form-group">
                @Html.LabelFor(model => model.Date, "Ngày tạo hóa đơn", htmlAttributes: new { @class = "control-label col-md-2" })
                @*<div class="col-md-10 has-success">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "datetime" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Warehouse.WarehouseName, "Tên kho", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 has-success">
                    @Html.EditorFor(model => model.Warehouse.WarehouseName, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.DropDownList("WarehouseID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.Warehouse.WarehouseName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.BillName, "Tên phiếu xuất", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 has-success">
                    @Html.EditorFor(model => model.BillName, new { htmlAttributes = new { @class = "form-control" } })
                    @*@Html.DropDownList("WarehouseID", null, htmlAttributes: new { @class = "form-control" })*@
                    @Html.ValidationMessageFor(model => model.BillName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row">
                <div class=" text-center col-md-6">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="btn btn-danger">
                    @Html.ActionLink("Trờ về", "Index")

                </div>
            </div>
        </div>

            }
            <br />
        </div>
    </div>
</div>
