﻿@*@model QLK.Website.Model.Bill*@
@*@model  IEnumerable<QLK.Website.Model.DetailBill>*@

@using PagedList.Mvc;
@model PagedList.IPagedList<QLK.Website.Model.DetailBill>
@{
    ViewBag.Title = "Chi tiết phiếu xuất";
    Layout = null;
}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            @*<a href="#" class="btn btn-success" onclick="CreateOuput(.)"> <i class="fa fa-plus"></i> Thêm mới</a>*@
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#detailform"> <i class="fa fa-plus"></i>Thêm mới</a>
                        </div>
                    </div>
                    <div class="col-lg-6">

                    </div>
                </div>
                <div class="box box-primary">
                    <form id="myForm">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Mã phiếu xuất kho
                                    </th>
                                    <th>
                                        Mã chi tiết phiếu xuất kho
                                    </th>
                                    <th>
                                        Mã hàng
                                    </th>
                                    <th>
                                        Ngày xuất
                                    </th>
                                    <th>
                                        Đơn giá
                                    </th>
                                    <th>
                                        Số lượng
                                    </th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.BillID)
                                            @*@item.BillID*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DetailBillID)
                                            @*@item.DetailBillID*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProductID)
                                            @*@item.ProductID*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bill.Date)
                                            @*@Model.Date*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Unit)
                                            @*@item.Unit*@
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Quantity)
                                            @*@item.Quantity*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("DetailsPar", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "Output_area"}))
</div>


<div class="modal fade" id="detailform" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title text-center">Thêm chi tiết phiếu xuất</h1>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <label>Mã phiếu xuất</label>
                        <input type="text" name="BillID" id="BillID" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Mã mặt hàng</label>
                        <input type="text" name="ProductID" id="ProductID" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Đợn vị tính </label>
                        <input type="text" name="Unit" id="Unit" class="form-control" required />

                    </div>
                    <div class="form-group">
                        <label>Số lượng</label>
                        <input type="text" name="Quantity" id="Quantity" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="btnCreate" class="btn btn-primary" value="Lưu">

                    <button type="button" class="btn btn-danger" data-dismiss="modal">Trở lại</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>


    $(document).ready(function () {

        $("#btnSave").click(function () {
            var supplierFormData = $("#detailoutput1").serialize();
            $.ajax({
                type: "POST",
                url: "DetailOutput/Create",
                data: supplierFormData,
                success: function (data) {
                    if (data == true) {
                        window.location.href = "/Danh-sach-chi-tiet-phieu-xuat";
                    }
                    else {
                        alert("Lỗi !! Không thể thêm mới chi tiết phiếu xuất này!")
                    }
                }
            })
        })

        $('#btnCreate').click(function () {
            var fd = new FormData();
            fd.append('BillID', $('#BillID').val());
            fd.append('ProductID', $('#ProductID').val());
            fd.append('Unit', $('#Unit').val());
            fd.append('Quantity', $('#Quantity').val());
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Create1", "DetailOutput")',
            data: fd,
            processData: false,
            contentType:false,
            success: function (data) {
                //alert(data);
                //return;
                if (data == true) {
                    window.location.href = "/Danh-sach-phieu-xuat";
                }
                else {
                    alert("Lỗi!! không thể thêm mặt hàng này !");
                }

                //$('#data').empty();
                //$('#data').append(data);

            }

        });
    });
    })


</script>