﻿@model QLK.Website.Model.Detailimportcoupon

@{
    ViewBag.Title = "Chi tiết phiếu xuất  kho";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <a href="#" class="btn btn-success"> <i class="fa fa-plus"></i> Thêm mới</a>
                            @*<a href="@Url.Action("Create")" class="btn btn-success"> <i class="fa fa-plus"></i> Thêm mới</a>*@
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-right">
                            @using (Html.BeginForm("Details", "DetailInput", FormMethod.Get))
                            {
                                @Html.TextBox("SearchString", ViewBag.currentFilter as string)
                                <input type="submit" value="search" class="btn btn-warning" />
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DetailimportID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Importcoupon.ImportID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Product.ProductName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Unit)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Quantity)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.DetailimportID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Importcoupon.ImportID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Product.ProductName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Unit)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Quantity)
                                        </td>
                                    </tr>
                                </tbody>
                                </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>

 