﻿@model QLK.Website.Model.Detailimportcoupon

@{
    ViewBag.Title = "Chỉnh sửa phiếu xuất kho";
}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <!-- Form Element sizes -->
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.DetailimportID)

                    <div class="form-group">
                        @Html.LabelFor(model => model.ImportID, "Mã hóa đơn", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="">
                            @*@Html.EditorFor(model => model.ImportID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @Html.DropDownList("ImportID", new SelectList(ViewBag.ImproID, "ImportID", "ImportID"), new { @class = "form-control", required = "required" })
                            @*@Html.DropDownList("ImportID", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.ValidationMessageFor(model => model.ImportID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ProductID, "Mặt hàng", htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="c">
                            @*@Html.EditorFor(model => model.ProductID, new { htmlAttributes = new { @class = "form-control" } })*@
                            @*@Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control", required = "required" })*@
                            @*@Html.DropDownList("ProductID", null, htmlAttributes: new { @class = "form-control" })*@
                            @Html.DropDownList("ProductID", new SelectList(ViewBag.ProductID, "ProductID", "ProductName"), new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.ProductID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Unit, "Đơn vị tính", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="">
                            @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })
                          
                            @Html.ValidationMessageFor(model => model.Unit, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Quantity, "Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" ,type="number"} })
                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class=" text-center col-md-6">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="btn btn-danger">
                            @Html.ActionLink("Trở về", "Index")

                        </div>
                    </div>
                </div>
            }
            <br />

        </div>
    </div>
</div>






